#v{
    width: 600px;
    height: 600px;
    border-radius: 94px;
    border: solid blue 7px;
    background: rgb(142,135,135);
    background: linear-gradient(106deg, rgba(142,135,135,1) 31%, rgba(89,88,88,1) 79%);
}
#v1{
    height: 70%;
    width: 4%;
    position: absolute;
    top: 13%;
    left: 6%;
    background: blue;
    border-radius: 7px;
    animation: first 2s forwards;
}
@keyframes first {
    0% {transform: scale(1); opacity: 0}
    100% {transform: skew(15deg, 0deg); opacity: 1}
}
#v2{
    border-radius: 7px;
    height: 100%;
    width: 100%;
    animation: second 4s forwards;
    background: blue;
}
@keyframes second {
    0% {transform: scale(1)}
    50% {transform: scale(1)}
    to {transform: skew(-30deg, 0) translate(235%, 0)}
}
#v3{
    height: 100%;
    width: 50%;
    background-color: black;
    border-radius: 7px;
    animation: third forwards 6s;
}
@keyframes third {
    0% {transform: scale(1); border-radius: 7px; opacity: 0;}
    66.6% {transform: scale(1); border-radius: 7px; opacity: 0;}
    to {transform: translate(250%); border-radius: 0; opacity: 1;}
}
#s{
    color: red;
    font-family: "Oswald", serif;
    font-weight: 600;
    font-size: 550px;
    position: relative;
    bottom: 200px;
    transform: skew(15deg, 0);
    animation: s forwards 8s;
}
@keyframes s {
    0% {transform: scale(1); opacity: 0}
    75% {transform: scale(1); opacity: 0}
    to {transform: translate(120%); opacity: 1}
}
